{% extends "base.html" %}

{% block title %}Cambia tu contraseña{% endblock %}

{% block content %}
    <h1>Escribe tu nueva contraseña</h1>
    {% if validlink %}
        <p>Por favor, introduce tu nueva contraseña</p>
        <form method="post">
            {% csrf_token %}
            {{form.as_p}}
            <button type="submit">Recuperar cuenta</button>
        </form>
    {% else %}
        <p>El link de cambio de contraseña ya no es valido, porisblemente ya ha sido utilizado.
            Por favor, solicita un nuevo link.
        </p>
    {% endif %}
{% endblock %}